<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Collection</title>
</head>
<body>
    <h3>我的收藏</h3>
    <ul>
        <li>Toy Story (1995)</li>
        <li>Jumanji (1995)</li>
        <li>Grumpier Old Men (1995)</li>
        <li>Waiting to Exhale (1995)</li>
        <li>Father of the Bride Part II (1995)</li>
        <li>Heat (1995)</li>
        <li>Sabrina (1995)</li>
        <li>Tom and Huck (1995)</li>
        <li>Sudden Death (1995)</li>
        <li>GoldenEye (1995)</li>
        <li>Toy Story (1995)</li>
        <li>Jumanji (1995)</li>
        <li>Grumpier Old Men (1995)</li>
        <li>Waiting to Exhale (1995)</li>
        <li>Father of the Bride Part II (1995)</li>
        <li>Heat (1995)</li>
        <li>Sabrina (1995)</li>
        <li>Tom and Huck (1995)</li>
        <li>Sudden Death (1995)</li>
        <li>GoldenEye (1995)</li>
        <li>Toy Story (1995)</li>
        <li>Jumanji (1995)</li>
        <li>Grumpier Old Men (1995)</li>
        <li>Waiting to Exhale (1995)</li>
        <li>Father of the Bride Part II (1995)</li>
        <li>Heat (1995)</li>
        <li>Sabrina (1995)</li>
        <li>Tom and Huck (1995)</li>
        <li>Sudden Death (1995)</li>
        <li>GoldenEye (1995)</li>
    </ul>
</body>
</html>