<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Movie detail page -- Toy Story (1995)</title>
    </head>
    <body>
        <h2>电影详情</h2>
        <hr />
        <h3>Toy Story (1995)</h3>
        <label>为电影打分:</label>
        <select>
            <option value="0">0</option>
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
        </select>
        <br />
        <a href="">收藏该电影</a>
        <a href="">不感兴趣</a>
        <br />
        <label>题材:</label>
        <span>Adventure|Animation|Children|Comedy|Fantasy</span>
        <br />
        <label>相关连接:</label>
        <span>
            <a href="">imdb</a>
            <a href="">tmdb</a>
        </span>
        <hr />
        <h3>标签 (仅做开发数据CRUD，设计中不作为推荐参考)</h3>
        <span>我的标签</span>

        <form action="">
            <input type="text" name="tag" id="tag">
            <button type="submit">添加标签</button>
        </form>
        <ul>
            <li>007</li>
            <li>007 (series)</li>
            <li>18th century</li>
        </ul>
        <span>全部用户标签</span>
        <ul>
            <!-- 按照次数排序 -->
            <li>007</li>
            <li>007 (series)</li>
            <li>18th century</li>
            <li>1920s</li>
            <li>1930s</li>
            <li>1950s</li>
            <li>1960s</li>
            <li>1970s</li>
            <li>1980s</li>
            <li>19th century</li>
            <li>3d</li>
            <li>70mm</li>
            <li>80s</li>
            <li>9/11</li>
            <li>aardman</li>
            <li>aardman studios</li>
            <li>abortion</li>
            <li>absurd</li>
            <li>action</li>
        </ul>
        <hr>
        <h3>相似电影</h3>
        <ul>
            <li><a href="./detail.html">Toy Story (1995)</a></li>
            <li><a href="./detail.html">Jumanji (1995)</a></li>
            <li><a href="./detail.html">Grumpier Old Men (1995)</a></li>
            <li><a href="./detail.html">Waiting to Exhale (1995)</a></li>
            <li><a href="./detail.html">Father of the Bride Part II (1995)</a></li>
            <li><a href="./detail.html">Heat (1995)</a></li>
            <li><a href="./detail.html">Sabrina (1995)</a></li>
            <li><a href="./detail.html">Tom and Huck (1995)</a></li>
            <li><a href="./detail.html">Sudden Death (1995)</a></li>
            <li><a href="./detail.html">GoldenEye (1995)</a></li>
        </ul>
    </body>
</html>
