<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movielikes</title>
</head>
<body>
    <div>
        <h2>Movielikes</h2>
        <a href="./login.html">登录</a>
        <a href="./regist.html">注册</a>
    </div>
    <hr>
    <h3>Movielikes为你推荐</h3>
    <ul>
        <li><a href="./detail.html">Toy Story (1995)</a></li>
        <li><a href="./detail.html">Jumanji (1995)</a></li>
        <li><a href="./detail.html">Grumpier Old Men (1995)</a></li>
        <li><a href="./detail.html">Waiting to Exhale (1995)</a></li>
        <li><a href="./detail.html">Father of the Bride Part II (1995)</a></li>
        <li><a href="./detail.html">Heat (1995)</a></li>
        <li><a href="./detail.html">Sabrina (1995)</a></li>
        <li><a href="./detail.html">Tom and Huck (1995)</a></li>
        <li><a href="./detail.html">Sudden Death (1995)</a></li>
        <li><a href="./detail.html">GoldenEye (1995)</a></li>
    </ul>
    <hr>
    <h3>继续为电影评分</h3>
    <ul>
        <li><a href="./detail.html">Toy Story (1995)</a></li>
        <li><a href="./detail.html">Jumanji (1995)</a></li>
        <li><a href="./detail.html">Grumpier Old Men (1995)</a></li>
        <li><a href="./detail.html">Waiting to Exhale (1995)</a></li>
        <li><a href="./detail.html">Father of the Bride Part II (1995)</a></li>
        <li><a href="./detail.html">Heat (1995)</a></li>
        <li><a href="./detail.html">Sabrina (1995)</a></li>
        <li><a href="./detail.html">Tom and Huck (1995)</a></li>
        <li><a href="./detail.html">Sudden Death (1995)</a></li>
        <li><a href="./detail.html">GoldenEye (1995)</a></li>
    </ul>
    <hr>
    <h3>我的收藏</h3>
    <ul>
        <li><a href="./detail.html">Toy Story (1995)</a></li>
        <li><a href="./detail.html">Jumanji (1995)</a></li>
        <li><a href="./detail.html">Grumpier Old Men (1995)</a></li>
        <li><a href="./detail.html">Waiting to Exhale (1995)</a></li>
        <li><a href="./detail.html">Father of the Bride Part II (1995)</a></li>
        <li><a href="./detail.html">Heat (1995)</a></li>
        <li><a href="./detail.html">Sabrina (1995)</a></li>
        <li><a href="./detail.html">Tom and Huck (1995)</a></li>
        <li><a href="./detail.html">Sudden Death (1995)</a></li>
        <li><a href="./detail.html">GoldenEye (1995)</a></li>
        <li><a href="./collect.html">查看全部收藏...</a></li>
    </ul>
</body>
</html>