<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regist for Movielikes</title>
</head>
<body>
    <h2>注册Movielikes账号</h2>
    <form action="">
        <label for="login-username">用户名:</label>
        <input id="login-username" type="text" name="username" id="username">
        <label for="login-password">密码:</label>
        <input id="login-password" type="password" name="password" id="password">
        <label for="login-captcha">验证码:</label>
        <input id="login-captcha" type="text" name="captcha" id="captcha">
        <button type="submit">提交注册</button>
    </form>
</body>
</html>